// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brandCol1: #3af1ea;
$brandCol2: #3878da;


$dark1: #202020;
$dark2: #05004d;

$textGrey: #838383;


// =====================================================
//    Fonts
// =====================================================
$merriweather: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
// =====================================================
//    Other
// =====================================================
