// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brandCol1: #3af1ea;
$brandCol2: #ff004e;
$brandCol2__1: #ff1f64;
$blue: #007fe9;

$dark1: #101010;
$dark2: #000722;

$grey1: #494949; // heading text
$grey2: #fafafa; //today's recomm bck
$grey3: #f5f5f5; //bck circle
$grey4: #e5e6e8; //inpt border

$shadow1: 3px 3px 12px 0px rgba(2, 12, 20, 0.17);




// =====================================================
//    Fonts
// =====================================================
$merriweather: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;
$playfair: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$superBold: 800;
// =====================================================
//    Other
// =====================================================
