// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brandCol1: #3af1ea;
$brandCol2: #ff004e;
$brandCol2__1: #ff1f64;


$dark0: #101010;
$dark1: #202020;
$dark2: #000722;
$dark3: #eeeeee;

$grey1: #f9f9f8;  // input bck
$grey2: #eeeeee; //result border line
$grey3: #fafafa; //bck top landing

$shadow1: 2px 3px 10px 0px rgba(2, 12, 20, 0.17);




// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;
$playfair: 'Playfair Display', serif;
$lora: 'Lora', serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$superBold: 800;
// =====================================================
//    Other
// =====================================================
