@-webkit-keyframes Gradient {
	0% {
		background-position: 100% 0%
	}

	100% {
		background-position: 0% 0%
	}
}

.gradient-loadAnim {
	background-color: white !important;
  background: linear-gradient(90deg, rgba($grey1, 0.02), rgba($grey1, 0.05), rgba($grey1, 0.02), rgba($grey1, 0.05)) !important;
  background-size: 300% 300% !important;
  animation: Gradient 3s linear infinite;
}
