.button-filled{
  border-radius: 500px;
  background-color: $dark2;
  color: $white;
  text-transform: uppercase;
  font-family: $poppins;
  font-weight: $semi-bold;
  border: none;
  padding: 14px 34px;
  font-size: 0.75rem;
  cursor: pointer;
  letter-spacing: 0.025em;
}
