.heading{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;

  span{
    font-size: 0.75em;
    padding: 0 15px;
    color: $grey1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: $semi-bold;
  }

  hr{
    display: inline-block;
    flex: 1;
    background-color: $grey2;
  }
}


.sect-header{
  font-size: 2rem;
  font-family: $merriweather;
  font-weight: $bold;
  color: $dark2;
  text-align: center;
}
