input, textarea{
  display: block;
  resize: none;
  outline: none;
  box-sizing: content-box;
  border: none;
  width: 100%;
  border-bottom: solid 1px $grey4;
  padding: 8px 5px;

  font-size: 1rem;
  font-family: $poppins;
  font-weight: $regular;
  color: rgba($black, 0.9);

  &::placeholder{
    color: rgba($black, 0.35);
  }
}
