//all people, collections etc.
.pageTop{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;

  &__tagline{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 90px;

    h1{
      font-family: $playfair;
      font-weight: $bold;
      color: rgba($dark2,0.95);
      font-size: 2.313rem;
    }

    p{
      font-weight: $regular;
      // font-weight: $medium;
      // color: #3636368c;
      color: rgba($dark2,0.46);
      margin-top: 12px;
      margin-bottom: 0px;
      font-size: 1.063rem;
    }
  }


  &__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 10px;
    cursor: pointer;

    .navAnach{
      font-size: 0.8125rem;
    }

    :not(.active){
      color: rgba($dark2, 0.45);
    }
  }
}




//bcp = book, collection, person
.pagebcpTop{
  position: relative;
  text-align: left;
  display: block;
  margin: auto;

  .bcp-canvas{
    position: relative;
    display: block;
    text-align: center;

    &__cover{
      display: block;
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
    }

    &__bck{
      width: 100vw;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: $grey3;
    }
  }


  .bcp-info{
    text-align: left;
    padding-right: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    .bcp-infoCenter{
      display: block;
      margin: auto;
      width: 100%;
      // flex: 1;
    }

    .bcp-pname{
      // font-size: 0.75rem;
    }

    .bcp-title{
      display: block;
      font-family: $lora;
      font-weight: $regular;
      color: rgba($dark2, 0.95);
      font-size: 1.875rem;
      margin-top: 8px;
    }

    .bcp-desc{
      display: block;
      font-weight: $regular;
      color: rgba($dark0, 0.5);
      font-size: 1rem;
    }


    .bcp-spec{
      text-align: right;
      display: block;
      white-space: pre;
      font-size: 0.75rem;
      white-space: pre;
    }
  }
}





.midRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  width: 100%;

  &__item{
    display: inline-block;

    .itmDesc{
      vertical-align: middle;
      display: inline-block;
      font-weight: $medium;
      color: rgba($dark2, 0.9);
      font-size: 0.875rem;
      margin-right: 20px;
    }

    .itmScm{
      display: inline-block;

      .button-scm{
        margin-right: 13px;

        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }

}



.pageMain{
  margin-top: 80px;

  &__header{
    margin-bottom: 60px;
  }

  &__bookLi{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
  }

  &__personLi{
    margin-bottom: 30px;
  }
}


// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}
// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {}
// Extra large
@media (max-width: 1225px) {
}
