//all people, collections etc.
.pageHeader{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  max-width: 460px;
  padding-bottom: 80px;


  &__tagline{
    width: 100%;
    display: block;

    h1{
      font-family: $lora;
      font-weight: $regular;
      color: rgba($dark2,0.95);
      font-size: 1.625rem;
    }

    p{
      font-weight: $regular;
      // font-weight: $medium;
      // color: #3636368c;
      color: rgba($dark2,0.46);
      margin-top: 15px;
      margin-bottom: 0px;
      font-size: 1.063rem;
    }
  }

  .search-center{
    margin-top: 50px;
  }


  &__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 10px;
    cursor: pointer;

    .navAnach{
      font-size: 0.8125rem;
    }

    :not(.active){
      color: rgba($dark2, 0.45);
    }
  }


  &-divline{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($grey2, 0.8);
  }
}


.stickyHeader{
  // position: absolute;
  top: 0;

  &.sticky{
    top: 70px !important;
  }
}


.pageMain{
  margin-top: 60px;

  &__bookLi{
    display: inline-block;
    width: 100%;

    &:not(:last-child()){
      .book-review{
        margin-bottom: 60px;
      }
    }
  }

  &__personLi{
    hr{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
}




.pageMain__bookLi, .pageMain__personLi{
  hr{
    display: block;
    height: 1px;
    background-color: $grey2;
    // margin-left: -30px;
    // margin-right: -30px;
    border: 0;
    margin: 55px -30px;
  }

  &:last-child{
    hr{
      display: none;
    }
  }
}






//bcp = book, collection, person
.pagebcpTop{
  position: relative;
  text-align: left;
  display: block;
  margin: auto;

  .bcp-canvas{
    position: relative;
    display: block;
    text-align: center;

    &__cover{
      display: block;
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
    }

    &__bck{
      width: 100vw;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: $grey3;
    }
  }


  .bcp-info{
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    .bcp-infoCenter{
      display: block;
      margin: auto;
      width: 100%;
      // flex: 1;
    }

    .bcp-pname{
      font-size: 0.8125rem;
      margin-bottom: 12px;
      display: block;
      color: rgba($dark2, 0.7);
    }

    .bcp-title{
      display: block;
      font-family: $lora;
      font-weight: $regular;
      color: rgba($dark2, 0.9);
      font-size: 1.875rem;
    }

    .bcp-desc{
      display: block;
      font-weight: $regular;
      color: rgba($dark0, 0.45);
      font-size: 1rem;
      margin-top: 14px;
    }


    .bcp-spec{
      text-align: right;
      display: block;
      white-space: pre;
      font-size: 0.8125rem;
      white-space: pre;
      font-weight: $regular;
      color: rgba($dark2, 0.44);

      p{
        display: inline-block;
        margin-right: 30px;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }

  .bcp-subparagraph{
    display: block;
    text-align: center;
    font-family: $poppins;
    white-space: pre;
    font-weight: $regular;
    color: rgba($dark1, 0.37);
    font-size: 0.9375rem;
    margin-top: 27px;
  }
}



.midRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 45px 15px 55px 15px;
  width: 100%;
  background-color: $black;
  text-align: center;
  margin: 60px 0 50px 0;

  &__item{
    display: inline-block;
    // margin: auto;

    .itmDesc{
      display: block;
      font-weight: $medium;
      font-family: $lora;
      color: rgba($white, 0.95);
      font-size: 1.313rem;
      margin-bottom: 20px;
    }

    .itmRight{
      display: inline-block;

      .button-filled{
        margin-right: 25px;
        &:last-child{
          margin-right: 0
        }
      }
    }
  }

}






.pagebcpMain{
  margin-top: 100px;
  position: relative;

  .rowCont{
    // justify-content: space-between;
    position: relative;

    .centColumn{
      max-width: 555px;
      margin: auto;
    }
  }

  &-leftDesc{
    display: block;
    text-align: left;
    font-family: $poppins;
    font-weight: $regular;
    color: rgba($dark1, 0.42);
    font-size: 1rem;
    font-size: 0.9375rem;
  }

  &-leftSub{
    display: block;
    text-align: left;
    margin-top: 12px;
  }
}




.pagebcpSeeNext{
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 150px;

  .sectHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    margin-top: 60px;
    li{
      display: inline-block;
    }
  }

  .bck{
    // background-color: #fafbfb;
    background-color: #fefefe;
    border-top: 1px solid rgba($grey2, 0.7);
    height: 100%;
    width: 100vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -2;
  }
}

// =====================================================
//    MEDIA QUERIES
// =====================================================

// Extra large
@media (max-width: 1225px) {
}


// Large
@media (max-width: 991px) {
  .col-0.col-lg-1{
    display: none;
  }

  .pageHeader{
    text-align: center;
    max-width: none;
    margin-top: 40px;
    padding-right: 15px;

    .stickyHeader{
      position: relative !important;
      top: 0 !important;
    }

    &__tagline{
      p{
        margin-top: 16px;
      }
    }


    .search-center{
      text-align: left;
    }

    &-divline{
      display: block;
    }
  }

  .pageMain {
    max-width: 585px;
    margin-top: 100px;
  }

  .pagebcpMain .shareBtns{
    margin-left: 15px;
  }

  .pagebcpSeeNext ul li:last-child{
    display: none;
  }
}





@media (max-width: 840px) {
  .pageMain__bookLi hr{
    margin: 50px 0px;
  }
}

// Medium
@media (max-width: 768px) {
  .pagebcpMain {
    margin-top: 85px;

    .shareBtns{
      display: none;
    }
  }
}


@media (max-width: 645px) {
  .pagebcpSeeNext ul{
    li:last-child{
      display: inline-block;
    }

    .col-sm-6{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}


// Small
@media (max-width: 544px) {
  .pagebcpTop .bcp-info{
    .bcp-title{
      font-size: 1.75rem;
    }
    .bcp-spec{
      color: rgba($dark2, 0.46);
    }
  }

  .pagebcpMain {
    margin-top: 75px;
  }

  .pageMain {
    .pageMain__bookLi hr, .pageMain__personLi hr{
      margin-left: -30px !important;
      margin-right: -30px !important;
    }
  }
}
