.scrollbar_1{
  $srWidth: 3px;
  &::-webkit-scrollbar {
      background: none;
      width: $srWidth;
  }

  &::-webkit-scrollbar-track {
      background: none;
      width: $srWidth;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eef0f3;
    border-radius: 50px;
    width: $srWidth;
    &:active{
      background-color: rgba($brandCol1, 0.5);
    }
  }
}
