@mixin theader{
  color: rgba($dark2, 0.9);
  font-family: $lato;
  font-weight: $bold;
  text-align: center;
  width: 100%;
}

.sect-header {
  font-size: 1.75rem;
  @include theader;

  &_s1{
    @include theader;
    font-size: 1.438rem;
  }
}


.info_brand{
  font-family: $poppins;
  font-weight: $medium;
  color: $brandCol2;

  &_v1{
    font-family: $poppins;
    font-weight: $medium;
    color: rgba($brandCol2, 0.85);
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}


.navAnach {
  display: inline-block;
  color: rgba($dark2, 0.8);
  font-weight: $semi-bold;
  transition: opacity 0.2s;
  text-transform: uppercase;

  &:hover{
    opacity: 0.9;
    transition: opacity 0.3s;
  }
}

.subMoreSpan {
  display: block;
  font-weight: $semi-bold;
  color: rgba($dark2, 0.3);
  text-transform: uppercase;
  transition: color 0.2s;
  text-align: center;
  font-size: 0.75rem;


  &.hovEfct{
    cursor: pointer;
    &:hover{
      color: rgba($dark2, 0.43);
      transition: color 0.3s;
    }
  }
}



// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}
// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {}
// Extra large
@media (max-width: 1225px) {
}
