@mixin theader{
  color: rgba($black, 0.9);
  font-family: $lora;
  font-weight: $regular;
  text-align: left;
  width: 100%;
}

.sect-header {
  font-size: 1.75rem;
  // font-size: 1.625rem;
  @include theader;

  &_s1{
    @include theader;
    font-size: 1.625rem;
    // font-size: 1.5rem;
  }
}


.sub-header{
  font-family: $poppins;
  font-weight: $regular;
  color: rgba($dark1, 0.45);
  font-size: 1rem;
  margin-top: 25px;
  text-align: left;
  padding-right: 25%;
}



.hdr-light{
  color: #8b8b8b;
}



.navAnach {
  display: inline-block;
  font-family: $poppins;
  font-weight: $regular;
  color: rgba($black, 0.45);
  transition: color 0.3s;
  font-size: 0.9375rem;

  &:hover{
    color: rgba($black, 0.9);
    transition: color 0.4s;
  }
}

.subMoreSpan {
  display: block;
  font-family: $poppins;
  font-weight: $regular;
  color: rgba($dark1, 0.45);
  transition: color 0.2s;
  font-size: 1rem;
  white-space: nowrap;


  &.hovEfct{
    cursor: pointer;
    &:hover{
      color: rgba($dark1, 0.9);
      transition: color 0.3s;
    }
  }
}

.subAnach {
  font-family: $poppins;
  font-weight: $medium;
  color: rgba($dark2, 0.9);
  transition: color 0.2s;
  font-size: 0.875rem;

  &:hover{
    color: rgba($dark1, 0.95);
    transition: color 0.3s;
  }
}







// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}
// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {}
// Extra large
@media (max-width: 1225px) {
}
