.bookHalf{
  width: 100%;

  .book-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .book-canvas{
      height: 130px;
      width: 83px;
      display: block;

      .book-cover{
        width: 100%;
        height: 100%;
        display: block;
        background-color: $grey3;

        &__inner{
          width: 100%;
          height: 100%;
          background-position: top center;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: $shadow1;
        }
      }
    }


    .book-content{
      display: flex;
      flex-direction: column;
      margin-left: 18px;
      flex: 1;

      .book-title{
        font-family: $poppins;
        font-weight: $medium;
        color: $dark2;
        font-size: 1.313rem;
        // margin-top: 2px;
        text-align: left;
        width: 100%;
        max-height: 50px;
      }

      .book-author{
        display: block;
        font-weight: $regular;
        color: rgba($dark0, 0.5);
        font-size: 0.875rem;
        width: 100%;
        margin-top: 4px;
      }



      .book-midrow{
        flex: 1;
        margin-top: 5px;
        font-family: $poppins;

        .book-rate{
          font-weight: $regular;
          color: rgba($dark2, 0.45);
          font-size: 0.875rem;

          span{
            font-size: 0.9375rem;
            font-size: 0.875rem;
            font-weight: $medium;
            color: rgba($dark2, 0.9);
            margin-right: 6px;
          }
        }
      }

      .book-bottom{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .book-buy{
          display: inline-block;
        }

        .book-spec{
          cursor: pointer;
          text-transform: uppercase;
          font-weight: $medium;
          font-size: 0.75rem;
          color: rgba($black, 0.83);
          vertical-align: middle;
        }
      }
    }
  }



  .book-review{
    width: 100%;
    margin-top: 30px;
    text-align: center;


    &__name{
      font-weight: $regular;
      font-family: $lora;
      font-size: 1.188rem;
    }

    &__inner{
      display: block;
      width: 100%;
      position: relative;
      margin-top: 10px;

      p{
        font-weight: $regular;
        color: rgba($dark2, 0.5);
        font-size: 0.875rem;
        // line-height: 1.45em;
      }
    }
  }







  &.loading{
    .book-top{
      .book-canvas .book-cover{
        .book-cover__inner{
          opacity: 0.2;
        }
      }

      .book-title, .book-author{
        width: 100%;
        height: 24px;
        border-radius: 3px;
        margin-left: 5px;
      }

      .book-author{
        border-radius: 3px;
        margin-top: 14px;
        height: 22px;
        max-width: 220px;
      }
    }
  }
}
