.bookPage{
  width: 100%;

  header{
    margin-top: 40px;
    .bookPage-canvas .bookPage-cover{
      width: 100px;
      height: 157px;
      box-shadow: $shadow1;
      margin: 100px auto;
    }


    .bookPage-info{
      text-align: left;
      padding-right: 35px;


      .bookPage-author{
        margin-top: 13px;
      }


      .bookPage-specs{
        color: rgba($dark2, 0.45);
        p{
          display: inline-block;
          margin-right: 30px;
          &:last-child{
            margin-right: 0px;
          }
        }
      }
    }
  }



  .book-review{
    width: 100%;
    margin-top: 30px;
    text-align: center;

    &__name{
      font-size: 0.8125rem;
      font-weight: $semi-bold;
    }

    &__inner{
      display: block;
      width: 100%;
      position: relative;
      margin-top: 9px;
      padding: 0 30px;

      p{
        font-family: $lato;
        font-weight: $medium;
        color: rgba($dark2, 0.42);
        font-size: 1rem;
        text-align: center;
        line-height: 1.45em;
      }
    }
  }
}
