.bookHalf{
  width: 100%;

  .book-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .book-canvas{
      height: 130px;
      width: 83px;
      display: block;

      .book-cover{
        width: 100%;
        height: 100%;
        display: block;
        background-color: $grey3;

        &__inner{
          width: 100%;
          height: 100%;
          background-position: top center;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: $shadow1;
        }
      }
    }


    .book-content{
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 20px;
      width: 100%;

      .book-title{
        font-family: $poppins;
        font-weight: $medium;
        color: $dark2;
        font-size: 1.313rem;
        // margin-top: 2px;
        width: 100%;
        max-height: 50px;
      }

      .book-author{
        display: block;
        font-weight: $regular;
        color: rgba($dark0, 0.5);
        font-size: 0.875rem;
        width: 100%;
        margin-top: 4px;
      }



      .book-midrow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 360px;
        flex: 1;
        width: 100%;
        margin: 17px auto 0 auto;

        .book-rate{
          font-weight: $regular;
          color: rgba($dark2, 0.45);
          font-size: 0.875rem;
          display: inline-block;

          span{
            color: rgba($dark2, 0.5);
            margin-right: 6px;
          }
        }

        .book-spec{
          cursor: pointer;
          text-transform: uppercase;
          font-weight: $medium;
          font-size: 0.75rem;
          color: rgba($black, 0.78);
          vertical-align: middle;
          display: inline-block;
        }
      }

      .book-bottom{
        width: 100%;
        display: block;
        margin-top: 33px;

        .book-buy{
          display: inline-block;
        }
      }
    }
  }




  &.loading{
    .book-top{
      text-align: center;
      .book-canvas .book-cover{
        .book-cover__inner{
          opacity: 0.2;
        }
      }

      .book-title, .book-author{
        width: 100%;
        height: 24px;
        border-radius: 3px;
        width: 90%;
        padding: 0 10px;
        margin: auto;
        max-width: 270px;
      }

      .book-author{
        border-radius: 3px;
        margin-top: 14px;
        height: 22px;
        max-width: 200px;
      }
    }
  }


  .book-review{
    margin-top: 45px;
  }
}




.book-review{
  width: 100%;
  text-align: center;


  &__name{
    font-family: $poppins;
    font-weight: $medium;
    font-size: 1.188rem;
  }

  &__inner{
    display: block;
    width: 100%;
    position: relative;
    margin-top: 12px;

    p{
      font-weight: $regular;
      color: rgba($dark1, 0.55);
      font-size: 0.875rem;
    }
  }
}






@media (max-width: 390px) {
  .bookHalf .book-top .book-content .book-midrow{
    flex-direction: column;
    .book-spec{
      margin-top: 10px;
    }
  }
}
