.bookPage{
  width: 100%;

  header{
    margin-top: 40px;
    .bookPage-canvas {
      margin-bottom: 30px;
      .bookPage-cover{
        width: 100px;
        height: 157px;
        box-shadow: $shadow1;
        margin: auto;
        // margin: 50px auto;
      }

      .bookPage-bck{
        width: auto;
        left: 0;
        right: 0;
        margin: 0 15px;
        background-color: #fafafa;
      }
    }


    .bookPage-info{
      text-align: left;
      margin-top: 50px;
      padding-bottom: 0px;

      .bookPage-specs{
        margin-top: 50px;
      }
    }

    .bookPage-desc{
      margin-top: 50px;
    }
  }

  .pagebcpMain{
    .bookPage-revUl li{
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid $grey2;
      // margin-top: 30px;

      &:last-child{
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
      }
    }

    .bookPage-noRevs{
      text-align: center;
      margin-top: -30px;

      .button-scm{
        margin-right: 15px;

        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}




// Medium
@media (max-width: 768px) {
  .bookPage header{
    .bookPage-canvas .bookPage-bck{
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    .bookPage-desc{
      padding-left: 15px;
    }
  }
}


@media (max-width: 480px) {
  .pagebcpTop{
    text-align: center;
  }

  .bookPage {
    header {
      .bookPage-info{
        text-align: center;
        .bcp-spec{
          text-align: center;
          margin-top: 30px;
        }
      }
      .bookPage-desc{
        margin-top: 75px;
        padding-left: 15px;
        .pagebcpMain-leftDesc, .subAnach{
          text-align: center;
        }
      }
    }
    .midRow{
      padding: 65px 15px 75px 15px;
    }
  }
}


@media (max-width: 350px) {
  .pagebcpTop .bcp-info .bcp-spec p:first-child{
    margin-right: 0px;
    margin-bottom: 7px;
    display: block;
  }
}
