.collectionMini {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  font-family: $poppins;

  &-top{
    display: flex;
    margin: auto;
    width: 100%;
    position: relative;

    .collectionMini-cover{
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      width: 83px;
      height: 130px;
      margin: 0 auto;
      box-shadow: $shadow1;
      margin: 30px auto;
    }

    .collectionMini-bck{
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
      background-color: $grey1;
    }
  }


  &-name{
    display: block;
    font-weight: $medium;
    color: $dark2;
    font-size: 1.188rem;
    margin-top: 21px;
  }

  &-subtitle{
    display: block;
    font-weight: $regular;
    color: rgba($dark2, 0.5);
    font-size: 0.875rem;
    font-size: 0.75rem;
    margin-top: 2px;
  }


  &-spec{
    display: block;
    color: $black;
    font-weight: $medium;
    font-style: $poppins;
    font-size: 0.75rem;
    margin-top: 14px;
    white-space: pre;
  }




  &.loading{
    .collectionMini-top{
      height: 190px;
    }

    .collectionMini-name{
      display: block;
      height: 24px;
      border-radius: 2px;
      margin: 20px 5% 0 5%;
    }
    .collectionMini-subtitle{
      display: block;
      margin-top: 14px;
      margin: 0 19%;
      margin-top: 10px;
      height: 16px;
      border-radius: 2px;
    }
  }
}
