.collection {
  display: inline-block;
  text-align: center;
  width: 100%;

  &-top{
    display: flex;
    margin: auto;
    width: 100%;
    margin-bottom: 18px;
    position: relative;

    .collection-cover{
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      width: 85px;
      height: 133px;
      margin: 0 auto;
      box-shadow: 5px 7px 25px 0px rgba(0, 0, 0, 0.18);
    }

    .collection-bck{
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
      margin: 20px 0 25px 0;
      overflow: hidden;
      &__inner{
        width: 100%;
        height: 100%;
        background-color: $grey3;
        /*
        filter: blur(3px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        */
      }
    }
  }


  &-name{
    display: block;
    font-family: $merriweather;
    font-weight: $bold;
    color: $dark2;
    font-size: 1.5rem;
  }

  &-subtitle{
    font-size: 0.9375rem;
    font-weight: $medium;
    color: rgba($dark2, 0.5);
  }
}
