.collectionPage {
  display: inline-block;
  width: 100%;

  header{
    margin-top: 40px;

    .collection-canvas{
      width: 100%;
      display: inline-block;

      .collection-cover{
        width: 90px;
        height: 141px;
        box-shadow: $shadow1;
        margin: 40px auto;
      }

      .collection-bck{
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .collection-info{
      text-align: left;
      padding-right: 35px;
      padding-bottom: 45px;
      flex-direction: row;
      align-items: flex-end;

      &__total{
        display: inline-block;
        flex: 1;
        padding-right: 25px;
      }

      .collection-specs{
        display: inline-block;
        padding-bottom: 3px;
      }
    }
  }


  .shareBtns{
    position: absolute;
    top: 0;
    transition: opacity 0.2s;

    .button-scm{
      display: block;
      margin-top: 15px;

      &:first-child{
        margin-top: 0px;
      }
    }

    &.sticky{
      top: 100px !important;
      opacity: 1;
      transition: opacity 0.35s;
    }

    &.hidden{
      opacity: 0;
    }
  }



  ul{
    width: 100%;
    margin: auto;

    li{
      display: inline-block;
      width: 100%;
    }
  }
}



// Large
@media (max-width: 991px) {
  .collectionPage .shareBtns{
    margin-left: 15px;
  }
}


// Medium
@media (max-width: 768px) {
  .collectionPage .rowCont .shareBtns{
    display: none;
  }
}
