.errorPage{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  h1{
    margin-top: 80px;
    display: block;
    font-family: $lora;
    font-weight: $regular;
    color: rgba($dark2, 0.8);
    color: #8b8b8b;
    font-size: 1.75rem;
    text-align: center;
  }

  .subAnach{
    margin-top: 25px;
  }
}
