footer{
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px !important;
  margin-top: 200px !important;


  h3{
    color: rgba($black, 0.9);
    font-family: $lora;
    font-weight: $regular;
    font-size: 1.5rem;
    text-align: left;
  }

  .footer__right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .findus{
    display: inline-block;
    text-align: left;
    vertical-align: super;


    h4{
      font-family: $poppins;
      font-weight: $medium;
      color: rgba($dark2, 0.9);
      font-size: 1.125rem;
    }

    .findus-sm{
      margin-top: 15px;
      .findus-icon{
        display: inline-block;
        height: 15px;
        width: auto;
        opacity: 0.13;
        margin-right: 10px;

        &:last-child{
          margin-right: 10px;
        }
      }
    }
  }

  nav{
    display: inline-block;
    text-align: left;
    .navAnach{
      display: block;
      font-size: 0.9375rem;
      margin-bottom: 6px;
    }
  }
}
