footer{
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 200px;

  ul{
    padding-bottom: 100px;
    li{
      font-size: 0.875rem;
      display: inline-block;
      color: rgba($dark2, 0.8);
      font-weight: $semi-bold;
      transition: opacity 0.2s;
      text-transform: uppercase;

      &:hover{
        opacity: 0.9;
        transition: opacity 0.3s;
      }
    }
  }

  #copyr{
    font-size: 1rem;
    color: rgba($dark2, 0.5);
    font-weight: $regular;
  }
}
