@keyframes moveTopHeaderType0 {
  50%{
    transform: translateY(-100%);
    opacity: 0.1;
  }
  100%{
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes moveTopHeaderType1 {
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

#header{
  position: relative;
  margin-top: 50px;

  .header__inner{
    justify-content: space-between;
    align-items: center;
  }

  &__tagline{
    display: block;
    text-align: left;

    p{
      font-weight: $regular;
      color: rgba($dark1, 0.5);
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 1rem;
    }

    h1{
      font-family: $lora;
      font-weight: $regular;
      color: rgba($dark2, 0.95);
      font-size: 1.875rem;

      .hdr-lightCont{
        display: inline;
        margin-left: 10px;
        position: relative;
        color: transparent;
        overflow: hidden;

        #hdrType-0, #hdrType-1{
          position: absolute;
          left: 0;
          animation: moveTopHeaderType0 1s linear forwards;
          z-index: -1;
        }

        #hdrType-1{
          opacity: 0;
          // top: 34px;
          transform: translateY(100%);
          animation: moveTopHeaderType1 1s linear forwards;
        }
      }
    }
  }

  &__people{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
  }
}



#searchSect{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 130px;
}





#collectionsSect{
  margin-top: 120px;

  .sectHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    margin-top: 60px;
    li{
      display: inline-block;
    }
  }
}



#tReadersSect{
  width: 100%;
  display: block;
  margin-top: 100px;

  &__left{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subAnach{
      text-align: right;
    }
  }

  &__right{
    position: relative;
  }

  &__cent{
    .bck{
      background-color: $grey3;
      position: absolute;
      width: 100vw;
      height: 100%;
      left: 15px;
      top: 0;
      z-index: -1;
    }

  }

  ul{
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;


    li{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    .subMoreSpan{
      padding-top: 10px;
      margin-bottom: 20px;
    }
  }
}



// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}



// Large
@media (max-width: 992px) {
  #header{
    margin-top: 30px;
    #header__tagline{
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
      }
    }

    #header__people{
      justify-content: space-around;
      margin: 60px auto 0 auto;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  #mostRBooksSect{
    margin-top: 80px;
  }


  #searchSect{
    margin-top: 100px;
    .search-center .search-input{
      margin: auto;
    }
  }
}
// Extra large



// Medium
@media (max-width: 768px) {
  #header #header__people{
    justify-content: space-between;
    li{
      flex: 0 0 33.33%;
      .person__horiz .person-cover{
        height: 50px;
        width: 50px;
      }
    }
  }

  #tReadersSect__cent{
    display: none;
  }
}


@media (max-width: 544px) {
  #header{
    margin-top: 25px;

    #header__tagline{
      text-align: center;
      h1{
        font-size: 1.625rem;
      }
      p{
        font-size: 0.9375rem;
        margin-bottom: 23px;
      }
    }

    #header__people li{
      flex: 0 0 50%;

      &:last-child{
        display: none;
      }
    }
  }
}
