#header{
  position: relative;
  margin-top: 40px;

  .header__inner{
    justify-content: space-between;
    align-items: center;
  }

  &__tagline{
    display: block;
    text-align: left;

    h1{
      font-family: $lora;
      font-weight: $regular;
      color: rgba($dark2, 0.95);
      font-size: 1.875rem;
    }

    p{
      font-weight: $regular;
      color: rgba($dark1, 0.5);
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 1rem;
    }
  }

  &__people{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
  }
}



#searchSect{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 120px;

}





#collectionsSect{
  margin-top: 120px;

  .sectHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    margin-top: 60px;
    li{
      display: inline-block;
    }
  }
}



#tReadersSect{
  width: 100%;
  display: block;
  margin-top: 100px;

  &__left{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subAnach{
      text-align: right;
    }
  }

  &__right{
    position: relative;
    .bck{
      background-color: $grey3;
      position: absolute;
      width: 100vw;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }

  ul{
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;


    li{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    .subMoreSpan{
      padding-top: 10px;
      margin-bottom: 20px;
    }
  }
}



// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}


// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {
  #header #tagline{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1rem;
    }
  }


  #searchSect .search-center{
    .search-input{
      margin: auto;
    }
  }
}
// Extra large


@media (max-width: 544px) {
  #header{
    margin-top: 55px;

    #tagline{
      h1{
        font-size: 1.875rem;
      }
      p{
        font-size: 0.9375rem;
      }
    }
  }

  #mostRBooksSect{
    margin-top: 70px;
    padding-bottom: 70px;
  }
}
