#searchSect{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 130px;
}



#collectionsSect{
  margin-top: 120px;

  .sectHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    margin-top: 60px;
    li{
      display: inline-block;
    }
  }
}



#tReadersSect{
  width: 100%;
  display: block;
  margin-top: 100px;
  display: none;

  &__left{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subAnach{
      text-align: right;
    }
  }

  &__right{
    position: relative;
  }

  &__cent{
    .bck{
      background-color: $grey3;
      position: absolute;
      width: 100vw;
      height: 100%;
      left: 15px;
      top: 0;
      z-index: -1;
    }

  }

  ul{
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;


    li{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    .subMoreSpan{
      padding-top: 10px;
      margin-bottom: 20px;
    }
  }
}



// =====================================================
//    MEDIA QUERIES
// =====================================================

@media (max-width: 1175px) {
  #searchSect .colBigPading-left p{
    padding-right: 0%;
    br{
      display: none;
    }
  }
}


// Large
@media (max-width: 992px) {
  #mostRBooksSect{
    margin-top: 80px;
  }


  #searchSect{
    margin-top: 100px;
    .search-center .search-input{
      margin: auto;
    }
  }
}



// Medium
@media (max-width: 768px) {
  .sub-header{
    font-size: 0.9375rem;
  }

  #searchSect{
    margin-top: 80px;

    #searchSect__inner{
      flex-direction: column-reverse;

      .colBigPading-left{
        padding-left: 15px;
        margin-bottom: 50px;


        h2, p{
          text-align: center;
          padding-right: 0px;

          br{
            display: block;
          }
        }
      }
    }
  }

  #tReadersSect__cent{
    display: none;
  }
}


@media (max-width: 544px) {}
