.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;

  &-cover{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 2;
    position: relative;


    &__inner{
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      width: 100%;
      height: 100%
    }
  }

  &-info{
    display: inline-block;
    text-align: left;
    flex: 1;
    margin-left: 18px;
  }

  &-name{
    display: block;
    font-family: $poppins;
    font-weight: $medium;
    font-size: 0.9375rem;
    color: $dark2;
  }

  &-subtitle{
    display: block;
    font-family: $poppins;
    font-weight: $regular;
    font-size: 0.75rem;
    color: rgba($dark2, 0.5);
    margin-top: 1px;
  }

  &-desc{
    text-align: right;
    flex: 1;
    max-width: 280px;
    // width: 200px;
    font-family: $poppins;
    font-weight: $medium;
    font-size: 0.8125rem;
    color: $brandCol2;
    margin: auto;
  }

  &-iconr{
    opacity: 0.3;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover{
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }
}



.person__horiz{
  flex-direction: column;
  text-align: center;


  .person-cover{
    width: 48px;
    height: 48px;
  }

  .person-info{
    margin-top: 15px;
    margin-left: 0px;
    text-align: center;
    position: relative;
    width: 100%;

    .person-info__white{
      position: absolute;
      height: 100%;
      width: 0%;
      background-color: $white;
      margin: auto;
      left: 0;
      right: 0;
    }

    .person-name{
      font-size: 1rem;
    }
  }
}
