.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;

  &-cover{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 2;
    position: relative;


    &__inner{
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      width: 100%;
      height: 100%
    }
  }

  &-info{
    display: inline-block;
    text-align: left;
    flex: 1;
    margin-left: 18px;
  }

  &-name{
    display: block;
    font-family: $poppins;
    font-weight: $medium;
    font-size: 0.9375rem;
    color: $dark2;
  }

  &-subtitle{
    display: block;
    font-family: $poppins;
    font-weight: $regular;
    font-size: 0.75rem;
    color: rgba($dark2, 0.5);
    margin-top: 1px;
  }

  &-iconr{
    opacity: 0.3;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover{
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }
}



.person__horiz{
  flex-direction: column;
  text-align: center;


  .person-cover{
    width: 48px;
    height: 48px;
  }

  .person-info{
    margin-top: 15px;
    margin-left: 0px;
    text-align: center;
    position: relative;
    width: 100%;

    .person-info__white{
      position: absolute;
      height: 100%;
      width: 0%;
      background-color: $white;
      margin: auto;
      left: 0;
      right: 0;
    }

    .person-name{
      font-size: 1rem;
    }
  }
}



.PersonMini_big {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;


  &-canvas{
    display: inline-block;
    .PersonMini_big-cover{
      display: block;
      margin: auto;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      z-index: 2;
      position: relative;


      .PersonMini_big-cover__inner{
        background-size: cover;
        background-color: $grey2;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 100%;
        height: 100%
      }
    }
  }


  &-right{
    flex: 1;
    margin-left: 25px;

    .PersonMini_big-info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__left{
        display: inline-block;
        flex: 1;
      }
    }
  }


  &-tag{
    font-size: 0.75rem;
    font-size: 0.8125rem;
    margin-bottom: 6px;
    display: block;
  }


  &-name{
    display: block;
    font-family: $poppins;
    font-weight: $medium;
    font-size: 0.9375rem;
    font-size: 1.188rem;
    color: rgba($dark2, 0.95);
  }

  &-subtitle{
    display: block;
    font-family: $poppins;
    font-weight: $regular;
    font-size: 0.75rem;
    color: rgba($dark2, 0.5);
    margin-top: 1px;
  }


  &-desc{
    font-weight: $regular;
    color: rgba($dark1, 0.5);
    font-size: 0.9375rem;
    width: 100%;
    margin-top: 16px;
  }
}
