.readerPage{
  width: 100%;

  .readerPage-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    position: relative;
    margin-top: 55px;
    padding-bottom: 80px;

    .readerPage-cover{
      background-size: cover;
      background-color: $grey2;
      background-position: center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      // box-shadow: $shadow1;
      border-radius: 500px;
    }

    .readerPage-info{
      text-align: left;
      flex: 1;
      margin-left: 33px;
      padding-bottom: 0;

      .readerPage-tags{
        margin-bottom: 8px;
        margin-top: 1px;
      }

      .readerPage-name{
        color: $dark2;
        font-size: 1.625rem;
      }

      .readerPage-desc{
        display: block;
        margin-top: 8px;
        margin-bottom: 0px;
      }

      .bcp-spec{
        margin-top: 27px;
      }
    }


    .readerPage-divline{
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba($grey2, 0.8);
    }
  }


  .pageMain{
    margin-top: 80px;
  }
}

.reader-top{
  display: flex;
  flex-direction: column;
  position: relative;

  .top-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-person{
      width: 100%;
      max-width: 750px;
      text-align: center;
      margin-top: 60px;
      .top-person-cover{
        display: block;
        margin: auto;
        width: 130px;
        height: 130px;
        margin-bottom: 16px;


        .top-person__inner{
          background-size: cover;
          background-color: $grey2;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 100%;
          width: 100%;
          height: 100%
        }
      }

      .top-person-name{
        display: block;
        font-family: $lora;
        font-weight: $regular;
        color: $dark2;
        font-size: 2rem;
      }

      .top-person-subtitle{
        font-size: 1rem;
        font-weight: $medium;
        color: rgba($dark2, 0.5);
      }
    }


    .sugestions{
      margin-top: 60px;
      max-width: 750px;
      width: 100%;
      display: block;

      .heading{
        margin: auto;
      }

      ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        margin-top: 40px;
      }
    }
  }
}


.reader-books{
  width: 100%;
  display: block;
  margin-top: 150px;
}





// =====================================================
//    MEDIA QUERIES
// =====================================================
// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {

}
// Extra large
@media (max-width: 1225px) {

}


@media (max-width: 1950px) {
  .top-background .bck-shape1{
    width: 44%;
    background-size: contain;
  }
}

@media (max-width: 1660px) {
  .top-background .bck-shape1{
    width: 58%;
    transform: translate(18%, 0%);
  }
}

@media (max-width: 1400px) {
  .top-background .bck-shape1{
    width: 60%;
    transform: translate(18%, 0%);
  }
}

@media (max-width: 1150px) {
  .reader-top .top-inner .top-person{
    margin-top: 100px;
  }
}


@media (max-width: 1100px) {
  .top-background .bck-shape1{
    width: 61%;
    transform: translate(10%, 0%);
  }
}

@media (max-width: 900px) {
  .top-background .bck-shape1{
    width: 65%;
    transform: translate(12%, 0%);
  }
}

@media (max-width: 840px) {
  .reader-top .top-inner{
    .top-person{
      margin-top: 70px;
    }

    .sugestions li{
      &:first-child{
        .person{
          padding-left: 0px;
        }
      }

      &:last-child{
        .person{
          padding-right: 0px;
        }
      }

      .person{
        padding: 0 10px;
      }

      .person-cover{
        width: 78px;
        height: 78px;
        margin-bottom: 14px;
      }

      .person-name{
        font-size: 1.063rem;
      }
      .person-subtitle{
        font-size: 0.875rem;
      }
    }
  }

  .top-background .bck-shape1{
    display: none;
    width: 67%;
    transform: translate(6%, 0%);
  }
}


// Small
@media (max-width: 544px) {
  .readerPage .readerPage-top{
    flex-direction: column;
    margin-top: 20px;

    .readerPage-info{
      text-align: center;
      margin-left: 0px;
      margin-top: 25px;

      .readerPage-tags{
        margin-bottom: 4px;
      }

      .bcp-spec{
        display: block;
        padding-bottom: 0px;
        text-align: center;
        margin: auto;
        margin-top: 25px;
      }
    }
  }
}
