.search-center {
  .search-input{
    display: block;
    margin: auto;
    position: relative;
    max-width: 555px;
    
    &__icon{
      position: absolute;
      right: 5px;
      bottom: 7px;
      width: 20px;
      height: 20px;
      opacity: 0.2;
      background-size: contain;
      margin: 0;
      cursor: text;
    }

    input{
      padding-right: 35px;
      margin: auto;
      max-width: 555px;
      box-sizing: border-box;
      text-align: inherit;
    }
  }

  .subMoreSpan{
    text-align: center;
    display: block;
    margin-top: 20px;
  }
}



@media (max-width: 544px) {
  .search-center .search-input{
    text-align: center;


    &__icon{
      display: none;
    }

    input{
      padding-right: 5px;
    }
  }
}
