.topbar{
  width: 100%;
  position: relative;
  padding-bottom: 60px;

  .grad-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2px;
  }

  &__inner{
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header{
    display: inline-block;
    #tpb-logoi{
      display: inline-block;
      height: 22px;
      width: auto;
    }

    #tpb-logot{
      display: inline-block;
      width: auto;
      height: 23px;
      margin-left: 18px;
    }
  }



  .nav-toggle{
    display: none;
    float: right;
    border: 0;
    background-color: transparent;
    outline-style: none;
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 100;
    // transition: all .6s cubic-bezier(.785,.135,.15,.86);
    cursor: pointer;

    &:after, &:before{
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: #080808;
      transition: all .5s cubic-bezier(.785,.135,.15,.86);
      border-bottom: 2px solid #fff;
    }

    &:after{
      top: auto;
      bottom: 8px;
    }

    &:hover{
      &:after{
        width: 80%;
      }
    }
  }


  nav{
    font-size: 0.75rem;
    display: inline-block;

    span{
      margin-right: 42px;
    }

    .nav-search{
      img{
        width: auto;
        height: 21px;
      }
    }

    div{
      display: inline-block;
    }
  }
}









@media (max-width: 1300px) {
  .topbar__inner{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1300px) {
  .topbar__inner{
    padding-left: 40px;
    padding-right: 40px;
  }
}



@media (max-width: 1150px) {
  .topbar{
    &__inner{
      padding-top: 40px;
    }

    header{
      #tpb-logoi{
        height: 23px;
      }

      #tpb-logot{
        height: 24px;
      }
    }


    nav{
      span{
        margin-right: 35px;
      }
      .button-filled{
        margin-left: 5px;
      }
    }
  }
}



@media (max-width: 840px) {
  .topbar{
    &__inner{
      padding-bottom: 40px;
    }

    &-bck{
      display: block;
    }

    .nav-toggle{
      display: block;
    }

    nav{
      display: none;
    }
  }
}
